<div class='clearfix'>
  <%= form_for @user do |f| %>
    <div class='form-inline'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, required: true, class: 'form-control' %>
        <%= f.label :slack, 'Slack Webhook URL' %>
        <%= f.text_field :slack, class: 'form-control' %>
        <%= f.submit "Subscribe on new vulnerability", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Rubygem</th>
      <th>Title</th>
      <th>CVE</th>
    </tr>
  </thead>
  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= vulnerability.date&.strftime('%F') %></td>
        <td><%= vulnerability.rubygem %></td>
        <td><a href="<%= vulnerability.link %>"><%= vulnerability.title %></a></td>
        <td><%= vulnerability.cve %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @vulnerabilities %>
